body {
    background-color: rgba(254, 168, 159, 0.164);
    font: normal 16px Tahoma, sans-serif;
    line-height: 1.3em;
    padding: 0 2%;
    overflow-x: hidden;
}

.clr {
    clear: both;
}

.fixed {
    position: fixed;
}

nav {
    padding: 0;

    display: flex;
    justify-content: center;
    /* horizontal align */
    flex-wrap: wrap;
    align-content: center;
    /* vertical align for wrapping */
    gap: 1em;
}


/* nav .nav-item,
nav .nav-item:visited  */
nav a{
    /* margin-right: 10px; */
    text-decoration-style: double;
    text-decoration-line: overline;
    color: rgb(140, 90, 73);
}

nav a:hover {
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
}

nav a:active {
    text-decoration-style: wavy;
}

#main-header {
    font-weight: 1000;
    color: rgb(95, 61, 49);
    letter-spacing: 0.01em;
}

h1 {
    letter-spacing: 0.05em;
    word-spacing: 0.2em;
    font-weight: 1000;
    text-align: center;
}

h3 {
    margin-bottom: 0;
}

small {
    font-size: 0.6em;
}

p.first-paragraph {
    margin-top: 0.5em;
}

/* .homepage.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} */

.subheading {
    text-align: center;
}

.quotes.container {
    border: 10px solid darksalmon;
    background-color: rgb(238, 185, 167);
    margin: 0px 20px 20px;

    display: flex;
    /* position: relative; */
    justify-content: flex-end;
    align-items: center;
}

div.quote {
    flex-grow: 1;
    /* position: absolute; */
    text-align: center;
    width: 100%;
    padding: 0.5% 1%;
}

div.quote-refresh {
    /* position: absolute;
    right: 5%;
    top: 50%;
    width: 5%;
    text-align: center; */
    display: inline;
    min-width: 5%;
}

span.quote-refresh:hover {
    cursor: pointer;
}

footer {
    margin-top: 10%;
}

/* .picture-box {
    border: 5px skyblue solid;
    border-bottom-style: groove;
    border-bottom-width: 10px;

    background-color: rgb(223, 237, 243);

    padding: 20px;
    margin: 5px 20px;
} */

/* #picture-button {
    display: block;
    margin-left: 42%;
} */

#main-pic {
    border: 5px solid rgb(140, 90, 73);
}

.blog-posts-container {
    display: flex;
    justify-content: center;
}



.contact-form {
    padding: 20px;
}

.contact-form .form-group {
    padding-bottom: 15px;
}

.contact-form label {
    display: block;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    padding: 3px;
    width: 100%;
    max-width: 200px;
}

.contact-form textarea {
    padding: 3px;
    width: 100%;
    max-width: 500px;
}

.contact-form input[type="submit"] {
    background-color: darksalmon;
    color: black;
    padding: 5px 10px;

    /* TODO: can I add animation?? */
    border-style: dotted;
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
}

.contact-form input[type="submit"]:hover {
    border-style: solid;
}

.hi-line {
    position: relative;
}

#hi-button {
    position: absolute;
    left: 100px;
}


.emoji.container {
    padding: 0;
    font-size: 70px;
    margin: 0px 10px;
    min-height: 100px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    align-items: center;
}

@keyframes walk {
    from {
        left: 120%;
    }

    to {
        left: -80%;
    }
}

.emoji .animal {
    /* animation: 15s linear 1s infinite alternate walk; */
    /* border: solid 2px black; */
    position: relative;
    left: 120%;

    /* animation */
    animation-delay: 1s;
    animation-name: walk;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.turtle {
    animation-duration: 50s;
}

.bunny {
    animation-duration: 20s;
}

.snail {
    animation-duration: 80s;
}

.rat {
    animation-duration: 15s;
}

#zoo-link {
    text-decoration: none;
}

.plant-container {
    left: 60%;
    bottom: 0;
    width: 40%;
    height: 100px;
    /* box-sizing: border-box; */

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.plant-container:hover {
    cursor: default;
}

.plant {
    font-size: 40px;
    transition: 3s;
    height: 50px;
    text-align: center;
    margin-bottom: -15px;
}

.plant:hover {
    font-size: 50px;
}

div#photo {
    text-align: center;
}
.timeline {
    position: relative;
    margin-bottom: 50px;
    /* margin: 10px; */
    /* min-width: 250px; */
    /* max-width: 1200px; */
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: lightblue;
}

.timeline-item {
    position: relative;
    margin: 5px 0px ;
    width: 50%; 
    padding: 10px 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(odd) .timeline-marker{
    left: 100%;
    transform: translateX(-6px);
}


.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item:nth-child(even) .timeline-marker{
    left: -6px;
}
.timeline-content {
    display: inline-block;
    background: lightcoral;
    padding: 1px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* position: relative; */
}

.timeline-marker {
    content: '';
    position: absolute;
    top: 15px;
    /* margin-left: -7px; */
    width: 10px;
    height: 10px;
    background: #3498db;
    border: 3px solid lightblue;
    border-radius: 50%;
}

a:visited,
a:link {
    color: brown;
    text-decoration: none;

}

@media (max-width: 550px) {
    .timeline-item {
      width: 100%;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
      left: 0;
      text-align: left;
    }
    .timeline-content {
      max-width: 100%; /* Allow full width on smaller screens */
    }

    .timeline-item:nth-child(odd) .timeline-marker,
    .timeline-item:nth-child(even) .timeline-marker {
        left: -6px;
        transform: translateX(0);
    }

    .timeline::before {
        left: 0;
    }

    .homepage.container {
        margin: 0;
    }
  }